@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker__time-container {
	@apply !w-[75px];
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

img {
	display: block;
}

body {
	margin: 0;
	padding: 0;
}

.max-container {
	@apply xl:max-w-[1140px] xl:mx-auto;
}

button,
a {
	@apply cursor-pointer;
}

textarea,
select,
input:not([type="checkbox"]),
option {
	@apply cursor-pointer border-2 border-primary py-1.5 px-2.5 w-full min-w-72;
}

input[type="checkbox"] {
	@apply cursor-pointer border-2 border-primary w-auto h-auto;
}

label {
	@apply w-full;
}

.leaflet-container {
	height: 80vh;
}

.cluster-icon {
	@apply relative flex flex-col items-center justify-center transform -translate-x-1/2 -translate-y-1/4 text-xl font-bold;
}

.cluster-icon-text {
	@apply absolute top-1/3 left-1/2 transform -translate-y-1/3 -translate-x-1/2 z-[300];
}

.leaflet-popup-content p {
	@apply !m-0;
}
